# Robot Framework output
results/
output.xml
log.html
report.html
*.png

# RF Metrics & RF Dashboard
metrics.html
robot_dashboard_*.html
*.db

# Python
venv/
__pycache__/
*.py[cod]
*.egg-info/
.eggs/

# IDE
.vscode/
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
